.App {
  text-align: center;
}
.row-score{
  border: 1px solid lightgray;
}
.score-class{
  background-color: #cccccc;
}

.App-home {
  width: 60%;
  margin: auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.avatar {
  height: 150px;
  width: 150px;
  border-radius: 150px;
  margin: 10px 40px 10px 40px;
  padding-right: 10px;
}

.vl {
  border-right: 1px solid #dad7d7;
  width: 40%;
}

.page-vl {
  border-right: 1px solid #dad7d7;
  width: 40%;
  height: 100%;
}

.question {
  width: 100%;
  max-width: 590px;
  display: flex;
  margin: 0 auto;
  border: 1px solid #dad7d7;
  border-radius: 3px;
  cursor: pointer;
  flex-direction: column;
}

.author-name {
  border-bottom: 1px solid #dad7d7;
  margin: 0px 0px 5px 0px;
  display: flex;
  width: 100%;
  max-width: 590px;
}

.author-name > h3 {
  margin: 2px 2px 2px 10px;
}

.question-info {
  display: flex;
  flex-direction: row;
}

.question-page-info {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.cont{
  width: fit-content;
  background-color: #ffffff;
  border: 1px solid lightgray;
  margin-bottom: 5px;
  margin-top: 5px;
}

.h3 {
  margin-left: 15px;
}

.col-image {
  border-right: 1px solid black;
  margin: auto;
}

.col-8 {
  margin: auto;
}

.form {
  text-align: start;
  width: 100%;
  margin-left: 12px;
  margin-right: 14px;
}

.btn {
  margin-bottom: 10px;
  width: 100%;
  margin-top: 3px;
}

.url{
  margin-left: 30px;
  border: 1px solid;
  padding: 0px 10px 0px 10px
}

.progress {
  width: 100%;
  margin-bottom: 10px;
  height: 25px !important;
}

.image {
  margin-top: 12px;
  margin-bottom: 12px;
}

.position-col {
  display: inline-block;
}

.selected-answer {
  background-color: #51dacf;
  border: 1px solid #105e62 !important;
}

.not-poll{
  width: 80%;
}

.position-answer {
  display: flex;
  width: 70px;
  border-radius: 100% !important;
  padding: 10px;
  position: relative;
  float: right;
  left: 20px;
  bottom: 40px;
  z-index: 1;
  background-color: #ffbe00;
  border-radius: 5px;
}

.leaderboard-col-4 {
  margin-left: 0px;
  margin-right: 0px;
}

.leaderboard-image {
  margin-top: 12px;
  margin-bottom: 12px;
}

.total {
  text-align: center;
  margin-bottom: 0px;
  width: 100%;
  text-align: center;
}

.a {
  margin-left: 15px;
  margin-right: 3px;
  width: 100%;
}

.ques-container {
  border: 1px solid;
  background-color: #ffffff;
  padding-left: 0px !important;
  padding-right: 0px !important;
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
}

.btn-custom {
  width: 100%;
}

.ques-info {
  background-color: #ffffff;
}

.ques-author {
  border-bottom: 1px solid black;
  background-color: #f9f6f7;
}

.ques-author > h3 {
  margin-left: 10px;
}

.ques {
  margin-bottom: 6px;
  text-align: start;
}

.ques-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-left: 15px;
}

.question-page {
  width: 100%;
  max-width: 590px;
  display: flex;
  margin: 0 auto;
  border: 1px solid #dad7d7;
  border-radius: 3px;
  cursor: pointer;
  flex-direction: column;
  height: 300px;
}

.question-comp {
  width: 60%;
  font-size: 13px;
  margin: 5px 0;
  display: flex;
  flex-direction: column;
}

.question-comp > h4 {
  margin-bottom: unset;
}

.question-comp > button {
  width: auto;
  margin: 0px 8px 0px 8px;
  border-radius: 4px;
}

.question-text {
  width: 50%;
  float: left;
  padding: 4px;
}

.question-text > p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.mainHome {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
}

.tabs {
  display: flex;
  flex-direction: row;
}

.pTag {
  font: 10px;
}

.ProgressBar {
  position: relative;
  height: 30px;
  width: 100%;
  border-radius: 30px;
  border: 1px solid #333333;
}

.Filler {
  background: #1da598;
  height: 100%;
  border-radius: inherit;
  transition: width 0.2s ease-in;
}

/* .view-poll{

} */

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
